nexus_workflow_v2.json
{
  "name": "Nexus Engine - Project Init",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node-001",
      "name": "Webhook Node",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ name: $json.body.nombre_proyecto, private: true, description: 'Created by Nexus Engine' }) }}",
        "options": {}
      },
      "id": "create-repo-001",
      "name": "Create Repository (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/jorami161180/{{ $json.name }}/contents/README.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'Initial commit by Nexus Engine', content: btoa('# ' + $('Webhook Node').item.json.body.nombre_proyecto + '\\n\\nProject ID: ' + $('Webhook Node').item.json.body.id_proyecto + '\\nStack: ' + $('Webhook Node').item.json.body.tipo_stack + '\\n\\nGenerated by Nexus Engine.') }) }}",
        "options": {}
      },
      "id": "create-readme-001",
      "name": "Initialize README (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://host.docker.internal:27123/active/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2dc837a101a5cf45a42e75a74e7af21da96d27fe9acf2eac2fa2b0f8c77325d7"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ ssh_url: $('Create Repository (API)').item.json.ssh_url, status: 'active' }) }}",
        "options": {}
      },
      "id": "obsidian-bridge-001",
      "name": "Obsidian Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Node": {
      "main": [
        [
          {
            "node": "Create Repository (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Repository (API)": {
      "main": [
        [
          {
            "node": "Initialize README (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize README (API)": {
      "main": [
        [
          {
            "node": "Obsidian Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
