nexus_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-webhook",
        "options": {}
      },
      "id": "webhook-id",
      "name": "Webhook Node",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "create",
        "name": "={{$json.nombre_proyecto}}",
        "private": true,
        "additionalFields": {
          "description": "Project created by Nexus Engine"
        }
      },
      "id": "github-create-repo",
      "name": "Create Repository",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "your-cred-id",
          "name": "GitHub Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "YOUR_GITHUB_USERNAME",
        "repository": "={{$node[\"Create Repository\"].json.name}}",
        "filePath": "README.md",
        "fileContent": "# {{$node[\"Webhook Node\"].json.nombre_proyecto}}\n\nProject ID: {{$node[\"Webhook Node\"].json.id_proyecto}}\nStack: {{$node[\"Webhook Node\"].json.tipo_stack}}\n\nGenerated by Nexus Engine.",
        "commitMessage": "Initial commit"
      },
      "id": "github-init-files",
      "name": "Initialize README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://localhost:27123/active/",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OBSIDIAN_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ssh_url",
              "value": "={{$node[\"Create Repository\"].json.ssh_url}}"
            },
            {
              "name": "status",
              "value": "active"
            }
          ]
        },
        "options": {}
      },
      "id": "obsidian-bridge",
      "name": "Obsidian Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Node": {
      "main": [
        [
          {
            "node": "Create Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Repository": {
      "main": [
        [
          {
            "node": "Initialize README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize README": {
      "main": [
        [
          {
            "node": "Obsidian Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
